.container.star-wars {
    width: 80%;
    position: relative;
    height: 800px;
    perspective: 700px;

}

.crawl {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear forwards;
    color: rgb(243,211,3);
}

.title {
    font-size: 4em;
    margin-bottom: 75px;
}

h5 {
    font-size: 2em; 
    margin-bottom: 75px;
}

.text > p {
    font-size: 2em;
    text-align: justify;
    line-height: 150%;
    margin-bottom: 100px;
}

.show-button {
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    color: black;
    background-color: rgb(243,211,3);
    border: none;
    position: absolute;
    animation: showButton 10s linear both;
    animation-delay: 20s;
}

@keyframes showButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes crawl {
    0% {
        top: 90%;
        transform: rotateX(20deg) translateZ(0);
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}